.signin {
  display: flex ;
  flex-wrap: wrap;
  flex-direction: column ;
  /* height: 80vh; */
  align-content: center ;
  justify-items: center ;
}
.form-validation {
  width: 75% !important;
  max-width: fit-content;
  background-color: #fff;
  padding: 3rem;
  border: solid 2px rgb(122, 121, 121);
  border-radius: 5px;
}
.form-input {
  border: none;
  background: #f1c6c3;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  margin: 0.7rem;
}

.btn-secondary {
  font-size: 1rem !important;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  width: 100%;
}
.submit-btn {
  margin-top: 1rem;
  margin-right: 0.8rem;
  display: flex;
  justify-content: flex-end;
}
.guest-login {
  width: 100%;
  padding: 0.5rem 2rem;
  font-size: 1rem !important;
  border-radius: 5px;
  margin-top: -0.6rem !important;
}

@media screen and (max-width: 768px) {
  .form-validation {
    width: 300px;
    padding: 2rem 0.8rem;
  }
  .form-input {
    padding: 0.3rem 1rem;
    margin: 0.7rem 0;
  }
}

@media screen and (max-width: 400px) {
  .row > label {
    width: 90px !important;
  }
  .form-input {
    width: 120px !important;
  }
}
