.wrapper {
  font-weight: 500;
  display: flex;
  background-color: #fff;
  justify-content: center;
  min-height: 100vh;
  background: url("../../images/wave.svg") no-repeat;
  background-position: bottom;
}
.product-image {
  width: 30vw;
  margin: 4rem 2rem;
  display: flex;
  justify-content: center;
}

.product-image > img {
  max-height: 400px;
  max-width: 300px;
  border: none;
  object-fit: contain;
  padding: 2rem;
}

.product-data {
  display: flex;
  width: 70vw;
  margin: 4rem 2rem;
  flex-direction: column;
  line-height: 2rem;
}
.wishlistBtn {
  max-width: 200px;
  background-color: #fff;
  border: solid 1px var(--secondary);
  font-size: 0.8rem;
  border-radius: 5px;
  color: var(--secondary);
  margin-top: 1rem;
}
.wishlistBtn:hover {
  background-color: var(--secondary);
  color: #fff;
}

.product-details {
  line-height: 1.3rem;
  width: 80%;
}
.product-details > li {
  list-style-type: none;
  margin-top: 1rem;
  /* border : solid 1px rgb(175, 172, 172); */
  background: #fee2e2;
  padding: 1rem;
}
@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .product-image,
  .product-data {
    align-items: center;
    width: 100%;
    margin: 1rem auto;
  }
  .product-details {
    width: 85%;
    display: flex;
    flex-direction: column;
  }
  .product-details > li {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 528px) {
  .product-details > li {
    font-size: 0.9rem;
  }
}
