@import url("https://glitchpop-css.herokuapp.com/library/styles.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: #d5d6da;
}
.nav-items {
  justify-content: flex-end;
}

.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  position: absolute;
  left: 1rem;
  top: 1.6rem;
  font-size: 2rem;
}

.products {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin:10px 5px;
  padding: 1.5rem;
  height: 410px;
  background-color: #fff;
  border: solid 2px #fff;
  border-radius: 12px;
}
.card-image {
  max-height: 220px;
  border: none;
  object-fit: contain;
}
.card-header {
  margin-top: 1rem;
  font-size: 1.5rem;
}
.card-body {
  flex-grow: 1;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.wishlist {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
}
.wishlist > p {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.wishlist:hover {
  color: red;
}
.remove-btn {
  font-size: 1.8rem;
}
.remove-btn:hover {
  color: rgb(226, 25, 25);
}
.quant-btn {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.quant-btn > button {
  width: 30px;
  height: 30px;
  outline: none;
}
.quant-btn > p {
  font-size: 1.2rem;
}
.place-btn {
  border: solid 1px rgb(31, 28, 28);
  padding: 0.5rem 0.8rem;
  margin: 0.8rem 0;
}
.place-btn:hover {
  background-color: rgb(226, 25, 25);
  color: white;
  border: solid 1px red;
  opacity: 0.8;
}

.badge-circle-s {
  font-size: 15px;
  height: fit-content;
  text-decoration: none;
  position: relative;
  top: 15px;
  left: -10px;
}

.sidebar {
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  border-radius: 0 0 15px 0;
}
.clear-btn {
  height: 40px;
  align-self: flex-end;
  font-size: 1rem;
}
.hamBurger {
  display: none;
}
.dropdown {
  display: block;
}
.stacked-list {
  display: none;
  margin: 0 auto;
}
.stacked-list-item {
  color: white;

  background-color: #140a22;
  border-bottom: solid 1px #2f0c61;
}
.stacked-list-item > h3 {
  text-decoration: underline #140a22;
  font-weight: 400;
}

.stacked-list-item:hover {
  color: #fbbf24;
  background-color: #220f3b;
}
.stacked-list-item > h3:hover {
  text-decoration: underline #220f3b;
}

@media screen and (max-width: 768px) {
  .sidebar > div > h1 {
    font-size: 0.9rem;
  }
  .sidebar > div > label {
    font-size: 0.7rem;
  }
  .clear-btn {
    height: 25px;
    font-size: 0.5rem;
  }

  .hamBurger {
    display: block;
  }
  .dropdown {
    display: none;
  }
  .stacked-list {
    display: block;
  }
}
