@import url("https://glitchpop-css.herokuapp.com/library/styles.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

.banner {
  display: flex;
  justify-content: center;
  background-color: #000;
}
.slide {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #000;
}
.slide:nth-child(1) {
  display: flex;
}
.slide > img {
  width: 100%;
  max-width: 700px;
  height: auto;
  max-height: 60vh;
}
.prev,
.next {
  position: absolute;
  top: 40%;
  font-size: 2rem;
  transform: translateY(-50%);
  color: #fff;
  cursor: pointer;
}
.prev {
  left: 10%;
}
.next {
  right: 10%;
}

@media screen and (max-width: 380px) {
  .prev,
  .next {
    top: 25%;
  }
}
@media screen and (max-width: 500px) {
  .prev,
  .next {
    top: 30%;
  }
  @media screen and (max-width: 680px) {
    .prev,
    .next {
      top: 35%;
    }
  }
}

body {
  background: #d5d6da;
  font-family: "Raleway", sans-serif;
}
.nav-items {
  justify-content: flex-end;
}

.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  position: absolute;
  left: 1rem;
  top: 1.6rem;
  font-size: 2rem;
}

.products {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 10px 5px;
  padding: 1.5rem;
  height: 400px;
  background-color: #fff;
  border: solid 2px #fff;
  border-radius: 12px;
}
.cartpage {
  display: flex;
  justify-content: center;
}
.cart-card {
  display: flex;
  position: relative;
  margin: 10px 5px;
  padding: 1.5rem;
  width: auto;
  /* justify-content: space-between; */
  /* height: 300px; */
  background-color: #fff;
  border: solid 2px #fff;
  border-radius: 12px;
}
.card-main {
  display: flex;
  /* align-items:center ; */
  justify-content: space-between;
}
.card-main-info {
  display: flex;
  flex-direction: column;
}
.card-image {
  max-height: 200px;
  border: none;
  object-fit: contain;
}
.card-header {
  /* margin-top: 1rem; */
  font-size: 1.3rem;
}
.card-body {
  flex-grow: 1;
  /* margin-top: 1rem; */
  font-size: 1.2rem;
}
.interactions{
  display: flex;
  position: absolute;
  justify-content: flex-end;
  right: 0;
  bottom: 20px;
  /* width:100%; */
}

@media screen and (max-width:768px) {
  .interactions{
    position:static;
    justify-content: center;
    flex-direction: column;
  }
}

.btn-secondary {
  font-size: 1rem;
}
.wishlist {
  margin-top: -20px;
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
}
.wishlist > p {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.wishlist:hover {
  color: red;
}
.remove-btn {
  font-size: 1.8rem;
  align-self: flex-end;
}
.remove-btn:hover {
  color: rgb(226, 25, 25);
}
.quant-btn {
  display: flex;
  margin-bottom: 1rem;
}
.quant-btn > button {
  width: 20px;
  height: 20px;
  outline: none;
  margin: 0 2rem;
}
.quant-btn > p {
  font-size: 1.2rem;
}
.place-btn {
  border: solid 1px rgb(214, 210, 210);
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  margin: 0.8rem 0;
  height: fit-content;
  margin-top: 0px;
  align-self: flex-end;
}
.place-btn:hover {
  background-color: rgb(226, 25, 25);
  color: white;
  border: solid 1px red;
  opacity: 0.8;
}
.line-separator {
  border: solid 1px #d5d6da;
  background-color: #d5d6da;
  border-radius: 5px;
}
.cartitems {
  width: 100%;
}
.checkout {
  height: 100%;
  width: 30vw;
  background-color: #fff;
  padding: 1.5rem;
  margin-top: 0.7rem;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.badge-circle-s {
  font-size: 15px;
  height: fit-content;
  text-decoration: none;
  position: relative;
  top: 15px;
  left: -10px;
}

.sidebar {
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  border-radius: 0 0 15px 0;
}
.clear-btn {
  height: 40px;
  align-self: flex-end;
  font-size: 1rem;
}
.hamBurger {
  display: none;
}
.dropdown {
  display: block;
}
.mobile-icon {
  position: relative;
}
.mobile-badge-nav {
  margin-left: 1rem;
  position: absolute;
  background-color: red;
  width: 40px;
  height: 25px;
  border-radius: 5px;
}
.stacked-list {
  display: none;
  margin: 0 auto;
}
.stacked-list-item {
  color: white;

  background-color: #140a22;
  border-bottom: none;
}
.stacked-list-item > h3 {
  text-decoration: underline #140a22;
  font-weight: 400;
}

.stacked-list-item:hover {
  color: #fbbf24;
  background-color: #220f3b;
}
.stacked-list-item > h3:hover {
  text-decoration: underline #220f3b;
}
.empty-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .cart-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 2rem;
  }
  .place-btn {
    align-self: center;
  }
  .remove-btn {
    align-self: center;
    margin-left: -5px;
    margin-bottom: -1rem;
  }
  .quant-btn {
    margin-top: 1rem;
  }
  .card-main {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .card-main-info {
    justify-content: space-evenly;
    align-items: center;
  }
  .cartpage {
    flex-direction: column;
  }
  .checkout {
    width: auto;
    margin: 10px 2rem;
  }
  .checkout > p {
    font-size: 1rem;
    font-weight: 500;
  }
  .sidebar > div > h1 {
    font-size: 1rem;
  }
  .sidebar > div > label {
    font-size: 0.9rem;
  }
  .clear-btn {
    height: 25px;
    font-size: 0.5rem;
  }
  .card {
    width: 250px;
  }

  .hamBurger {
    display: block;
  }
  .dropdown {
    display: none;
  }
  .stacked-list {
    display: block;
  }
}
