/* top Nav */
.nav {
  background: #ddd6f3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #faaca8,
    #ddd6f3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #faaca8,
    #ddd6f3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.nav-items {
  justify-content: flex-end !important;
}
.nav-item {
  color: rgb(29, 28, 28) !important;
}
.nav-item:hover {
  color: rgb(221, 41, 41) !important;
}
.nav-logo {
  color: rgb(29, 28, 28) !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: 800;
  position: absolute;
  left: 1rem;
  top: 1.6rem;
  font-size: 2rem !important;
}
.nav-logo:hover {
  animation: none !important;
}
.badge-circle-s {
  font-size: 15px;
  height: fit-content;
  text-decoration: none;
  position: relative;
  top: 15px;
  left: -10px;
}

/* mobile view nav */
.hamBurger {
  display: none;
}
.dropdown {
  display: block;
}
.mobile-icon {
  position: relative;
}
.mobile-badge-nav {
  margin-left: 1rem;
  position: absolute;
  background-color: red;
  border: solid 1px #df6d67;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.mobileNav {
  background-color: #f87171;
  position: absolute;
  right: 0.5rem;
  top: 4.5rem;
  width: 10.5rem;
  border-radius: 8px;
  z-index: 1;
}
.stacked-list {
  display: none;
  margin: 0 auto;
  width: fit-content !important;
}
.stacked-list-item {
  color: #fff;
  background-color: #f87171;
  border-bottom: none !important;
  padding: 10px 10px !important;
  display: flex;
  justify-content: flex-start;
}
.stacked-list-item > h3 {
  text-decoration: underline #f87171;
  font-weight: 800;
  font-size: 1rem;
}

.stacked-list-item:hover {
  color: #000000;
  background-color: #f87171 !important;
}
.stacked-list-item > h3:hover {
  text-decoration: underline #f87171;
}

/* sidenav */
.sidenav {
  min-height: 100vh;
  width: fit-content;
  border-right: solid 1px rgb(216, 212, 212);
}
.sidenav-item {
  width: 180px;
}

/* filter-modal */
.filter-modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #fff;
  display: none;
  flex-direction: column;
  align-items: center;
}
.filter-modal-item {
  margin-top: 5rem;
  margin-left: 2rem;
}

.clear-btn {
  margin-top: 1rem;
  padding: 0.2rem 0.5rem;
  /* align-self: flex-end; */
  font-size: 1rem;
  border: none;
  color: #fff;
  background-color: rgb(223, 118, 118);
}
@media screen and (max-width: 768px) {
  .sidebar > div > h1 {
    font-size: 1rem;
  }
  .sidebar > div > label {
    font-size: 0.9rem;
  }
  .hamBurger {
    display: block;
  }
  .dropdown {
    display: none;
  }
  .stacked-list {
    display: block;
  }
}

@media screen and (max-width: 520px) {
  .sidebar {
    flex-direction: column;
  }
  .sidenav {
    display: none;
  }
  .filter-modal {
    display: flex;
  }
}
