/* top Nav */
.nav{
  background: #ddd6f3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #faaca8,
    #ddd6f3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #faaca8,
    #ddd6f3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.nav-items {
  justify-content: flex-end !important;
}
.nav-item{
  color: rgb(29, 28, 28) !important;
}
.nav-item:hover{
  color:rgb(221, 41, 41) !important;
}
.nav-logo {
  color: rgb(29, 28, 28) !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: 800;
  position: absolute;
  left: 1rem;
  top: 1.6rem;
  font-size: 2rem !important;
}
.nav-logo:hover{
  animation:none !important;
}
.badge-circle-s {
  font-size: 15px;
  height: fit-content;
  text-decoration: none;
  position: relative;
  top: 15px;
  left: -10px;
}

/* mobile view nav */
.hamBurger {
  display: none;
}
.dropdown {
  display: block;
}
.mobile-icon {
  position: relative;
}
.mobile-badge-nav {
  margin-left: 1rem;
  position: absolute;
  background-color: red;
  border:solid 1px #df6d67;
  width: 40px;
  height: 25px;
  border-radius: 5px;
}

.mobileNav{
  background-color: #df6d67;
  
}
.stacked-list {
  display: none;
  margin: 0 auto;
  width: fit-content !important;
}
.stacked-list-item {
  
  color: rgb(29, 28, 28);
  background-color: #df6d67;
  border-bottom: none !important;
  padding: 10px 10px !important;
  display: flex;
  justify-content: flex-start;
}
.stacked-list-item > h3 {
  text-decoration: underline #df6d67;
  font-weight: 800;
}

.stacked-list-item:hover {
  color: #000000;
  background-color: #df6d67 !important;
}
.stacked-list-item > h3:hover {
  text-decoration: underline #df6d67;
}

/* sidebar */
.sidebar {
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  border-radius: 0 0 15px 0;
}
.clear-btn {
  height: 40px;
  align-self: flex-end;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .sidebar > div > h1 {
    font-size: 1rem;
  }
  .sidebar > div > label {
    font-size: 0.9rem;
  }
  .clear-btn {
    height: 25px;
    font-size: 0.5rem;
  }
  .hamBurger {
    display: block;
  }
  .dropdown {
    display: none;
  }
  .stacked-list {
    display: block;
  }
}

@media screen and (max-width: 425px) {
  .sidebar {
    flex-direction: column;
  }
}
